.people {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.name {
  font-weight: bold;
  color: rgb(38, 14, 173);
}
.col-3 {
  display: flex;
  flex-direction: row;
  color: rgb(38, 14, 173);
}
.col-2 {
  display: flex;
  flex-direction: row;
  color: rgb(38, 14, 173);
}
.col-2-2 {
  margin-top: 20px;
  margin-left: 10px;
}
.col-3-2 {
  margin-top: 20px;
  margin-left: 10px;
}
